<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Tâche-Mania</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/styles.css" rel="stylesheet" />
        <script defer type="module" src="../js/script.js"></script>
        <script src="https://kit.fontawesome.com/280516d329.js" crossorigin="anonymous"></script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Tâche-Mania</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto" id="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#about">Ajouter une tâche</a></li>
                        <li class="nav-item"><a class="nav-link" href="#projects">Toutes les tâches</a></li>
                        <li class="nav-item" id="userMenuLi">
                            <a class="nav-link" id="userMenuButton">Bienvenue, </a>
                            <div id="userMenuContainer">
                                <ul id="userMenu">
                                    <li>Option 1</li>
                                    <li>Option 2</li>
                                    <li>
                                        <form action="/auth/logout" method="get">
                                            <button type="submit">Déconnexion</button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Toujours plus de tâches</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">Bienvenue sur Tâche-Mania, un gestionnaire de tâches gratuit 🙃</h2>
                        <a class="btn btn-primary golden" href="#about" id="getUser">C'est parti</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">Ajouter une tâche</h2>
                        <p class="text-white-50">
                            Pour ajouter une tâche, remplissez le formulaire çi dessous, vous pourrez ensuite visualiser votre tâche dans la liste "Toutes les tâches".
                        </p>
                    </div>
                    <form id="taskForm" class="mt-4" enctype="multipart/form-data">
                        <div class="form-group mb-5">
                            <input type="text" name="taskName" class="form-control" id="taskName" placeholder="Nom de la tâche" required>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="taskStatus" id="taskStatusDone" value="1">
                            <label class="form-check-label text-white-50" for="taskStatusDone">Terminée</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="taskStatus" id="taskStatusNotDone" value="0" checked>
                            <label class="form-check-label text-white-50" for="taskStatusNotDone">Non terminée</label>
                        </div>
                        <button class="btn btn-primary golden" type="submit" id="submitButton">Ajouter</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- Projects-->
        <!-- Section des tâches -->
<section class="projects-section bg-light" id="projects">
    <div class="container px-4 px-lg-5">
        <div class="mb-3 offcanvas-header">
            <button class="btn btn-primary filter-btn" data-status=1>Tâches terminées</button>
            <button class="btn btn-primary filter-btn" data-status=0>Tâches non terminées</button>
            <button class="btn btn-primary filter-btn" data-status=null>Toutes les tâches</button>
        </div>
        <!-- Titre de la section -->
        <h2 class="text-center mb-4">Liste des tâches</h2>
        <!-- Tableau pour afficher les tâches -->
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nom de la tâche</th>
                        <th scope="col">Statut</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody id="taskTableBody">
                    <!-- Les lignes de la table seront ajoutées ici dynamiquement via JavaScript -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirmation de suppression</h5>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette tâche ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>

                    <button type="button" class="btn btn-danger delete-task-button" id="confirmDeleteBtn" data-bs-dismiss="modal">Supprimer</button>
                </div>
            </div>
        </div>
    </div>
</section>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/public/js/scriptsBootstrap.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
